
body {
    font-family: 'Inter', sans-serif;
}


.portfolio-title {
    
}


.nav-links a {
    
}


main img {
    
}


main p {
    
}


aside {
   
}

aside h2 {
    
}

aside img {

}


aside p {
    background-color: transparent;
    box-shadow: none;
    padding: 0;
}


footer p {
    background-color: transparent;
    box-shadow: none;
    padding: 0;
}
